*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
} 
body{
  font-family: "Nunito",sans-serif;
  background: #f8f8f8;
  padding: 5px;
}
#clouds{
  width: 25%;
  margin: auto;
  margin: 0px;
  align-self: center;
}
.row{
  justify-content: center;
}
#preset{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}
button{
  margin-top: 5px;
  margin-bottom: 5px;
}
h1{
  text-align: center;
  font-size: 32px;
  margin: 5px;
}
p{
  padding: 0px;
  margin-bottom: 0px;
}

.input{
  text-align: center;
  margin: auto;
  margin-bottom: 25px;
}
  
input[type="submit"]{
  margin-top: 15px;
  padding: 0px 15px;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;
} 
.input input[type="text"]s{
  width: 600px;
  height: 55px;
  padding: 5px 10px;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;
} 
.card{
  width: 50%;
  background: #e7e7e7;
  height: 35vh;
  border-radius: 2px;
  padding: 5px;
  margin: 10px;
}
.close{
  float: right;
  margin-top: -2px;
  cursor: pointer;
  margin-right: 20px;
}
  
.card h1{
  padding: 5px 0;
  text-align: center;
}
  
.card p{
  text-align: center;
  margin: 2px 0;
  font-size: 10px;
}

.card-group{
  justify-content: center;
}

.card-footer{
  padding: 0px;
  text-align: center;
  font-size: 12px;
}
/*UV INDEX RESPONSE COLORING*/
.good{
  background-color: yellow;
  color: black;
}
.ok{
  background-color: green;
  color: white;
}
.bad{
  background-color: red;
  color: black;
}

@media screen(max-width: 320px){
  
}
@media screen(max-width: 360px){

}
@media screen(max-width: 411px){

}